body, html {
  background-color: #000;
  color: white
}
.crystal-pic {
  height: 150px;
  width: 200px;
  float: left;
  margin-right: 10px;
  border-right: 1px solid white
}
.crystal-pic:hover {
  cursor: pointer;
}